/** @format */

.slider_container {
	width: 60%;
	// background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.432));
	padding: 1.5rem 2rem;
	.slide {
		width: 100%;
		display: flex;
		overflow-x: scroll;
		gap: 1rem;
		padding: 1rem;
		scrollbar-width: none;
		box-sizing: border-box;
		&::-webkit-scrollbar {
			display: none;
			width: 0;
		}
	}
}
